html, body {
  margin: 0;
  padding: 0; }

body {
  background-image: url("https://raw.githubusercontent.com/IsaiahHarris/rebirth-of-reddit/master/assets/bg.jpg"); }

.main-header {
  width: 375px;
  height: 65px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.subreddit-choices-container {
  height: 44px;
  width: 375px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color: #383838; }

.subred-choice1, .subred-choice2, .subred-choice3, .hawaii-sub-red {
  padding: 15px;
  padding-top: 11px;
  height: 44px;
  color: #989898; }

.subred-choice1:hover, .subred-choice2:hover, .subred-choice3:hover, .hawaii-sub-red:hover {
  padding: 15px;
  padding-top: 11px;
  color: #CD5334;
  transition: color 0.35s ease-out;
  color: #CD5334; }

.subred-choice1, .subred-choice2, .subred-choice3 {
  border-right: solid 0.1px whitesmoke; }

#posts-container {
  width: 351px;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px; }

.posts-title {
  background-color: whitesmoke;
  color: #333333;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold; }

.posts-author {
  padding: 5px;
  font-weight: normal; }

.posts-description {
  width: 300px;
  font-weight: normal;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.active {
  width: 300px;
  font-weight: normal;
  padding: 5px;
  overflow: visible;
  white-space: normal;
  word-break: break-word; }

.posts-image {
  background-image: url("https://photos.smugmug.com/Soccer/SY-20152016/Vs-Kaimuki-Vars-021016/i-QPwzKSQ/0/60ab5670/X3/DSC_4901-X3.jpg");
  background-size: 350px 200px;
  border: solid 10px whitesmoke;
  height: 200px; }

.posts-image {
  background-size: 350px 200px;
  height: 140px;
  border: 12px solid whitesmoke;
  padding: 30px;
  margin-top: 15px; }
